<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.oase.indonesia.oasebrdiepa">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.example.hunter.HunterApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic__hunter_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic__hunter_launcher_round"
        android:supportsRtl="true"
        tools:replace="android:allowBackup"
        android:theme="@style/AppTheme" >

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.example.hunter.screen.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.example.hunter.service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="com.example.hunter.service.MyFirebaseInstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.example.hunter.screen.login.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.hunter.screen.register.RegisterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.hunter.screen.otp.OtpActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.hunter.screen.biodata.BiodataActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.hunter.screen.main.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.hunter.screen.changepassword.ChangePasswordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.hunter.screen.forgotpassword.ForgotPasswordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.hunter.screen.fotoplatreport.FotoPlatReportActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.hunter.screen.detilhistory.DetilHistoryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.hunter.screen.editprofile.EditProfileActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.hunter.screen.alamat.AlamatActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />




    </application>
</manifest>
